<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Detail Kebun Safari</title>
	</head>
	<body>
		<h2>Detail Kebun Safari</h2>
		<p th:text="'ID Kebun Safari : ' + ${kebunSafari.idKebunSafari}"></p>
		<p th:text="'Nama Kebun Safari : ' + ${kebunSafari.namaKebunSafari} "></p>
		<p th:text="'Alamat : ' + ${kebunSafari.alamat} "></p>
		<p th:text="'Nomor Telepon : ' + ${kebunSafari.noTelepon} "></p>
		<a href="/"> Kembali </a>
	</body>
</html>
